.spacer {
    flex: 1 1 auto;
  }
  .mat-toolbar{
    background: transparent;
    color: #8D515C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  .btn{
    background-color: transparent;
    img{
        max-width: 30px;
    }
  }
  ::ng-deep .ion-page{
    justify-content: flex-start !important;
  }