<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button class="btn" aria-label="icon-button with menu icon" [routerLink]="['../','account']">
            <img src="/assets/icons/menu.svg" alt="">
        </button>
        <span class="spacer"></span>
        <span>eat</span>
        <span class="spacer"></span>
        <button mat-icon-button class="btn country-icon" (mousedown)="goToSearch()" >
            <mat-icon>search</mat-icon>
        </button> 
        <button mat-icon-button class="btn country-icon" routerLink="country-language" >
            <img src="/assets/icons/flag.svg" alt="">
        </button> 
    </mat-toolbar-row>
   

  </mat-toolbar>

  <router-outlet></router-outlet>
  
