<mat-toolbar class="toolbar">
    <button class="btn" (mousedown)="back()">
        <mat-icon>
            chevron_left   
        </mat-icon>
    </button>
    <span>eat</span>
</mat-toolbar>
<router-outlet style="display: none;"></router-outlet>
<section class="list">
    <mat-list role="list">
        <mat-list-item role="listitem">All restaurants</mat-list-item>
        <mat-list-item role="listitem">Promotion</mat-list-item>
        <mat-list-item role="listitem">Help</mat-list-item>
      </mat-list>
</section>
<section class="seazon">
<img src="/assets/img/seazon.png" alt="">
</section>
<section class="social-privacy">
    <div class="social">

        <button class="btn">
            <img src="/assets/icons/facebook.svg" alt="">
        </button>
        <button class="btn">
            <img src="/assets/icons/instagram.svg" alt="">
        </button>
        <button class="btn">
            <img src="/assets/icons/linkedin.svg" alt="">
        </button>
        <button class="btn">
            <img src="/assets/icons/twitter.svg" alt="">
        </button>
    </div>
    <p>Privacy | Terms & conditions</p>
</section>
<section class="copyrights">
    <p>© Copyright 2022, Seazen Group </p>
</section>